@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.btn{
    margin-top: 3%;
    height: 30px;
    width: 80px;
    color: pink;
    background: black;
    border: 2px solid #b392f2 ;
}

input{
    background: transparent;
    display: flex;
    color: white;
    border: 2px solid #b392f2;
    border-radius: 10%;
    height: 40px;
    width: 200px;
}
input::placeholder{
    color: white; 
}

.timerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 45vw;
}
label{
    font-size: 70px;
    color: #b392f2;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 300;
    
}
